body {
    font-family: 'Noto Sans', sans-serif;
    /* background-color: antiquewhite; */
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    color: #333;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-content-left {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-name {
    font-size: 14px;
    font-weight: 400;
}

.navbar-breadcrumb {
    padding-right: 8px;
    padding-left: 8px;
}

/* Styles for the nav-lastupdated container */
.nav-lastupdated {
    /* Add styles here as needed */
    /* Example: */
    display: flex; /* if you want its children to be flex items */
    align-items: center; /* align items vertically */
    transition: background-color 0.3s ease;
    padding-right: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.navbar-date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(55, 53, 47, 0.5); /* Light grey color */
    position: relative; /* For positioning the tooltip */
    padding-right: 8px;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1001;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    /* border: 1px solid red; */
    /* newly added */
    opacity: 0; /* Start with opacity 0 for smooth transition */
    transition: visibility 0s linear 1s, opacity 1s linear;
}

/* Show tooltip on hover over nav-lastupdated div */
.nav-lastupdated:hover .tooltip {
    visibility: visible;
    /* newly added */
    opacity: 1; /* Transition to full opacity */
    transition-delay: 0s; 
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 4px 16px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #f0f0f0;
}

.navbar-memoji {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


/* Title Content */

.content-container {
    width: 750px;
    margin: 0 auto; /* Center the div */
    /* Additional styling as needed */
    background-color: white;
}

.memoji-image {
    width: 140px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    /* Additional styling for the image */
    display: block;
    padding-top: 80px;
}

.memoji-image-2 {
    width: 120px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    /* Additional styling for the image */
    display: block;
    padding-top: 80px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    display: block;
    /* padding-left: 4px; */
    color: #333;
}

/* Callout Design */

.about-callout {
    background-color: #e6f3f7; /* Background color */
    border-radius: 4px; /* Border radius */
    padding: 16px; /* Padding on all sides */
    color: #ffffff; /* Text color, assuming white for contrast */
    /* Additional styling as needed */
    width: 718px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.callout-emoji {
    /* Styles specific to the emoji */
    margin-right: 8px; /* Add some space between the emoji and the text */
    font-size: 18px;
}

.callout-text {
    font-size: 16px; /* Text size */
    font-weight: 500; /* Font weight */
    line-height: 24px; /* Line height */
    /* Additional text-specific styling as needed */
    color: #333;
    flex: 1;
}

/* reusable divider */
.divider {
    max-width: 750px;
    border-top: 1px solid #e2e0dd; /* Solid line, adjust color as needed */
    margin: 20px auto; /* Spacing above and below */
}

/* inner divider */
.inner-divider {
    width: 100%;
    border-top: 1px solid #e2e0dd; /* Solid line, adjust color as needed */
    margin: 10px auto; /* Spacing above and below */
    z-index: 2;
}

/* Inner - nav styling*/
.link-container {
    display: flex;
    justify-content: space-between; /* Evenly space out the links */
    width: 750px;
    margin: 0 auto; /* Center the container */
}

.custom-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Inherits the text color */
    padding: 02px 4px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-link:hover {
    background-color: #f0f0f0; /* Grey background on hover */
}

.icon {
    /* Style your icon */
    margin-right: 8px; /* Space between the icon and the text */
    /* font-size: 18px; */
    font-size: 18px;
}

/* About Section */

h2{
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.about-section {
    max-width: 750px;
    margin: 0 auto; /* Centering the section */
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    flex-basis: 55%;
    padding-right: 24px; /* Spacing between text and image */
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.about-right {
    flex-basis: 45%;
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 120%;
}

.about-image {
    width: 100%; /* Adjust as per your preference */
    height: auto; /* Maintain aspect ratio */
    /* Style as needed */
}

.profile-links {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    /* Style your list as needed */
}

.profile-links li {
    margin-bottom: 10px; /* Space between list items */
    /* Style your list items as needed */
}

.profile-link {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: inherit; /* Adjust as needed */
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-link:hover {
    background-color: #f0f0f0; /* Grey background on hover */
}

.profile-icon {
    width: 20px; /* Adjust as per your icon size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Space between icon and text */
}

.about-text p {
    font-weight: 300;
    line-height: 24px;
}

.about-text strong {
    font-weight: 500;
}

.Hi-there-p {
    margin-top: 0;
}

.pink-strong {
    color: #c14c8a;
}

/* Contact Index Styling */

.resume-index {
    max-width: 750px;
    margin: 0 auto;
}

.resume-index ul {
    list-style: none;
    padding: 0;
}

.resume-index li {
    margin-bottom: 1px;
}

.resume-index li a {
    color:#787774; 
    border-bottom: 0.05em solid rgba(55,53,47,.25);
}

.custom-link .icon {
    margin-right: 8px;
}

/* Experience Section */
.experience-section , .education-section, .skills-section, .projects-section {
    max-width: 750px;
    margin: 0 auto; /* Center the section */
    /* Add padding as needed */
    /* Add any other styles you've been using for sections */
}

.experience-item, .education-item {
    width: 100%;
    display: flex;
    align-items: flex-start; /* Align logo and text vertically */
    flex-direction: column;
    margin-bottom: 20px; /* Space between different experience items */
}

.company-header, .institution-header {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    padding-top: 32px;
}
.company-logo, .institution-logo {
    margin-right: 15px; /* Space between logo and company info */
}

.company-logo img, .institution-logo img {
    width: 50px; /* Adjust based on your preference */
    height: auto;
}

h3 {
    margin: 0; /* Adjust margins as needed */
    /* Additional styling for the company name */
    font-weight: 600;
    font-size: 1.875em;
    color: #333;
}

.experience-details, .degree-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-column {
    width: 40%;
    padding: 0;
    /* Additional styling as needed */
}

.left-column, .inner-divider {
    box-sizing: border-box;
}
.details-section p {
    width: 100%;
    margin: 5px 0; /* Adjust spacing as needed */
    white-space: nowrap;
    padding-bottom: 8px;
    /* Additional styling */
}

.dropdown {
    position: relative;
    margin-top: 10px; /* Adjust as needed */
}

.dropdown-button {
    cursor: pointer;
    /* background-color: #f0f0f0; Example color */
    background-color: transparent;
    border: none;
    padding: 8px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #37352f;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 500;

}

.dropdown-button:active + .dropdown-content,
.dropdown-content:hover {
    display: block; /* Show dropdown content on click or hover */
}

.dropdown-content a {
    color: #37352f;
    padding: 3px 2px;
    text-decoration: none;
    display: block;
    
    
}

.link-content {
    display: inline-flex; /* Inline-flex to fit content width */
    align-items: center;
    padding: 3px 4px;
    background-color: transparent; /* Default background */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.link-content-styling {
    border-bottom: 0.05em solid rgba(55,53,47,.25);
}

.dropdown-content a:hover .link-content {
    background-color: #f0f0f0; /* Apply hover effect to link-content */
    border-radius: 4px;
}

.dropdown-content a img {
    margin-right: 8px; /* Space between icon and text */
    width: 20px; /* Adjust as per your icon size */
    height: auto; /* Maintain aspect ratio */

}

.dropdown:hover .dropdown-content {
    display: none;
}


.arrow-down {
    margin-right: 8px;
    transform: rotate(-90deg);
}

.arrow-up {
    display: inline-block;
    transform: rotate(0deg); /* Rotates the arrow to point upwards */
}


.right-column {
    width: 60%;
    padding-left: 40px;
    /* Additional styling as needed */
}


/* Scroll Test Div */
.scroll-test {
    height: 1000px; /* Adjust the height as needed to test scrolling */
}

.role-description {
    padding-top: 0px;
    margin-top: 0px;
}

/* Right Column */
.role-description p {
    /* Styling for the paragraph */
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    color: #787774 ;
    font-weight: 400;
    margin: 0;
}

/* Image Gallery Styling */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-top: 18px;
    /* Add any additional styling like padding or margins as needed */
}

.gallery-item {
    display: block;
    overflow: hidden;
    border-radius: 5px; /* Optional for rounded corners */
    height: 100px;
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.college-link {
    display: inline-flex; /* Align icon and text */
    align-items: center;
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Use the current text color */
    padding: 3px 4px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: for rounded corners */
    transition: background-color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
    border-bottom: 0.05em solid rgba(55,53,47,.25);
}

.college-link:hover {
    background-color: #f0f0f0; /* Example hover background color */
}

.link-icon {
    margin-right: 8px; /* Space between icon and text */
    /* Add any additional styles for the icon */
}

.classes-about p {
    /* Styling for the paragraph */
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    color: #787774 ;
    font-weight: 400;
    margin: 0;
    padding-bottom: 12px;
}

/* CSS for Skills Section */

.tabs-container {
    display: flex;
    justify-content: flex-start; /* Adjust as needed */
    border-bottom: 1px solid #e2e0dd; /* Bottom border as a divider */
    padding-bottom: 8px;
    /* Additional container styling */
}

.tab {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0 4px;
    font-size: 14px;

    /* Additional tab styling */
    position: relative;
}

.tab img {
    width: 16px; /* Adjust as per your icon size */
    height: auto;
    margin-right: 6px; /* Space between icon and text */
    filter: opacity(50%);
}

.tab-icon {
    color: #c14c8a;
}

.tab span {
    /* Additional text styling */
    color: #787774;
}

.tab.active img {
    filter: none;
}

.tab.active img,
.tab.active span {
    color: #333; /* Color for active tabs */
    /* You may need to adjust if you're using images for icons */
}

.tab:hover {
    background-color: #f0f0f0; /* Example hover background color */
    border-radius: 4px; /* Rounded edges for hover effect */
}

/* Ensure that the hover effect does not apply to the active tab */
.tab.active, .tab.active:hover {
    background-color: transparent;
    /* Other active tab styles */
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -9px; /* Shift from the bottom of the tab */
    left: 0;
    width: 100%; /* Underline spans the full width of the tab */
    height: 2px; /* Thickness of the underline */
    background-color: #333; /* Color of the underline */
}

/* Tab - Card CSS */


.card { 
    display: flex;
    padding: 8px 10px 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.card img {
    width: 16px; /* Icon size */
    height: auto;
    margin-right: 8px; /* Space between icon and text */
}

.card span {
    font-size: 14px; /* Text font size */
    /* Additional text styling */
}

.card:hover{
    background-color: #f0f0f0;
}

/* Layout for cards in a row */
.tab-content {
    display: none;
}

/* Specific style for the active tab content */
.tab-content.active {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 4px;
}

/* Initially show only the Design tab content */
#content-tab-design {
    display: grid;
}

/* Projects Section */



.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
    gap: 20px; /* Adjust the space between cards */
    margin: 20px 0; /* Vertical space for the whole grid */
}

/* Individual Project Card */
.project-card {
    background: #fff; /* Assuming a white background */
    border-radius: 4px; /* Rounded corners */
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    overflow: hidden; /* Ensures the content doesn't spill out */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    text-decoration: none;
}

.project-card:hover {
    background-color: #f0f0f0; /* Lift effect on hover */
    text-decoration: none;
}

/* Project Image */
.project-card img {
    width: 100%; /* Full width of the card */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline spacing */
}

.project-card h3 {
    display: flex; /* Aligns icon and text */
    align-items: center; /* Vertically centers icon with text */
    font-size: 16px; /* Text size */
    padding: 10px; /* Padding inside the card */
}

.project-card h3 img {
    width: 20px; /* Icon size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Space between icon and text */
}

/* Project Tags */
.project-tags {
    display: flex; /* Aligns tags in a row */
    flex-wrap: wrap; /* Allows tags to wrap to the next line */
    padding: 0 10px 10px; /* Padding on the sides and bottom inside the card */
    gap: 5px; /* Space between tags */
    justify-content: start; /* Align tags to the start of the card */
}

/* Individual Tag Badge */
.tag-badge-domain {
    display: inline-flex; /* Allows inline level with flex properties */
    align-items: center; /* Vertical alignment */
    padding-left: 6px; /* Padding inside the badge */
    padding-right: 6px;
    background-color: #daecda; /* Background color of the badge */
    border-radius: 3px; /* Rounded corners for the badge */
    font-size: 12px; /* Smaller font size for the tags */
    white-space: nowrap; /* Prevents wrapping inside the badge */
    color: #333; /* Text color for the tag */
    margin-bottom: 5px; /* Space between rows of tags if they wrap */
    line-height: 120%;
    height: 18px;

}

/* Hover effect for the tag badge */
.tag-badge:hover {
    background-color: #d5d5d5; /* Slightly darker background on hover */
}

.tag-badge-platform {
    display: inline-flex; /* Allows inline level with flex properties */
    align-items: center; /* Vertical alignment */
    padding-left: 6px; /* Padding inside the badge */
    padding-right: 6px;
    background-color:#d2e4ef; /* Background color of the badge */
    border-radius: 3px; /* Rounded corners for the badge */
    font-size: 12px; /* Smaller font size for the tags */
    white-space: nowrap; /* Prevents wrapping inside the badge */
    color: #333; /* Text color for the tag */
    margin-bottom: 5px; /* Space between rows of tags if they wrap */
    line-height: 120%;
    height: 18px;

}