body {
    font-family: 'Noto Sans', sans-serif;
    /* background-color: antiquewhite; */
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    color: #333;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-content-left {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-name {
    font-size: 14px;
    font-weight: 400;
}

.navbar-breadcrumb {
    padding-right: 8px;
    padding-left: 8px;
}

/* Styles for the nav-lastupdated container */
.nav-lastupdated {
    /* Add styles here as needed */
    /* Example: */
    display: flex; /* if you want its children to be flex items */
    align-items: center; /* align items vertically */
    transition: background-color 0.3s ease;
    padding-right: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.navbar-date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(55, 53, 47, 0.5); /* Light grey color */
    position: relative; /* For positioning the tooltip */
    padding-right: 8px;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1001;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    /* border: 1px solid red; */
    /* newly added */
    opacity: 0; /* Start with opacity 0 for smooth transition */
    transition: visibility 0s linear 1s, opacity 1s linear;
}

/* Show tooltip on hover over nav-lastupdated div */
.nav-lastupdated:hover .tooltip {
    visibility: visible;
    /* newly added */
    opacity: 1; /* Transition to full opacity */
    transition-delay: 0s; 
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 4px 16px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #f0f0f0;
}

.navbar-memoji {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


/* Title Content */

.content-container {
    width: 750px;
    margin: 0 auto; /* Center the div */
    /* Additional styling as needed */
    background-color: white;
}

.memoji-image {
    width: 140px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    /* Additional styling for the image */
    display: block;
    padding-top: 80px;
}

.memoji-image-2 {
    width: 120px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    /* Additional styling for the image */
    display: block;
    padding-top: 80px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    display: block;
    /* padding-left: 4px; */
    color: #333;
}

/* Callout Design */

.about-callout {
    background-color: #e6f3f7; /* Background color */
    border-radius: 4px; /* Border radius */
    padding: 16px; /* Padding on all sides */
    color: #ffffff; /* Text color, assuming white for contrast */
    /* Additional styling as needed */
    width: 718px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.callout-emoji {
    /* Styles specific to the emoji */
    margin-right: 8px; /* Add some space between the emoji and the text */
    font-size: 18px;
}

.callout-text {
    font-size: 16px; /* Text size */
    font-weight: 500; /* Font weight */
    line-height: 24px; /* Line height */
    /* Additional text-specific styling as needed */
    color: #333;
    flex: 1;
}

/* reusable divider */
.divider {
    max-width: 750px;
    border-top: 1px solid #e2e0dd; /* Solid line, adjust color as needed */
    margin: 20px auto; /* Spacing above and below */
}

/* Inner - nav styling*/
.link-container {
    display: flex;
    justify-content: space-between; /* Evenly space out the links */
    width: 750px;
    margin: 0 auto; /* Center the container */
}

.custom-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Inherits the text color */
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-link:hover {
    background-color: #f0f0f0; /* Grey background on hover */
}

.icon {
    /* Style your icon */
    margin-right: 8px; /* Space between the icon and the text */
    /* font-size: 18px; */
    font-size: 18px;
}

/* About Section */

h2{
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.about-section {
    max-width: 750px;
    margin: 0 auto; /* Centering the section */
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-text {
    flex-basis: 55%;
    padding-right: 24px; /* Spacing between text and image */
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.about-right {
    flex-basis: 45%;
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 120%;
}

.about-image {
    width: 100%; /* Adjust as per your preference */
    height: auto; /* Maintain aspect ratio */
    /* Style as needed */
}

.profile-links {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    /* Style your list as needed */
}

.profile-links li {
    margin-bottom: 10px; /* Space between list items */
    /* Style your list items as needed */
}

.profile-links a {
    /* Style your links as needed */
}

.profile-link {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: inherit; /* Adjust as needed */
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-link:hover {
    background-color: #f0f0f0; /* Grey background on hover */
}

.profile-icon {
    width: 20px; /* Adjust as per your icon size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Space between icon and text */
}

.about-text p {
    font-weight: 300;
    line-height: 24px;
}

.about-text strong {
    font-weight: 500;
}

.Hi-there-p {
    margin-top: 0;
}

.pink-strong {
    color: #c14c8a;
}

/* Contact Index Styling */

.resume-index {
    max-width: 750px;
    margin: 0 auto;
}

.resume-index ul {
    list-style: none;
    padding: 0;
}

.resume-index li {
    margin-bottom: 1px;
}

.custom-link .icon {
    margin-right: 8px;
}

/* Experience Section */
.experience-section {
    max-width: 750px;
    margin: 0 auto; /* Center the section */
    /* Add padding as needed */
    /* Add any other styles you've been using for sections */
}